@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Syne|Comfortaa');

html {
    font-size: 9pt;
    scroll-behavior: smooth;
}

body{
    font-family: "Comfortaa", sans-serif;
    color: #EEE;
    background-color: #666;
    margin:0;
    padding:0;
}

a:link {
  color: inherit;
  text-decoration: inherit;
}

a:visited {
  color: inherit;
}

a:hover {
  color: inherit;
}

a:active {
  color: inherit;
}

.container {
    max-width: 75rem;
    margin: auto;
}

.main {
    width: 100%;
    margin: auto;
}

.background {
    z-index: -1;
    position: absolute;
    top: 0.3rem;
    left:0;
    width: 100%;
    overflow: hidden;
}

.text-background {
    font-family: "Syne", sans-serif;
    font-size: 1.2rem;
    color: #535050;
    width: 110%;
    margin-left: -5%;
    word-break: break-all;
    clip-path: polygon(5% 0%, 5% 100%, 95% 100%, 95% 0%);
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    text-overflow: ellipsis;
}

@supports (-ms-user-select: none) {
    .text-background {
    		margin-left: 5%;
	    	width: 90%
    }
}

.terminal {
    font-weight: normal;
    font-size: 5.1vw;
    font-stretch: condensed;
}

.terminal:before {
    content: "$>\00a0"
}

@keyframes prompt-animator  {
      0% { opacity: 0;}
     50% { opacity: 0;}
     51% { opacity: 1;}
    100% { opacity: 1;}
}

#prompt:before {
    content: "\25AE"
}

#terminal-line.eol+#prompt {
    opacity: 0;
    animation-name: prompt-animator;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.logo-frame {
    width: 23rem;
}

.logo {
    position: relative;
    font-size: 3rem;
}

.icon-message {
    margin-left: .5rem;
    margin-right: .5rem;
}

.icon-bar {
    margin-left: .5rem;
    margin-right: .5rem;
}

.logo-name {
    position: relative;
    color: #404040;
}

.main > header {
    position: absolute;
    top: 1rem;
}

.main > header .logo-name {
    top: -.4rem;
    left: -.4rem;
}

.main > footer {
    margin-top: 6rem;
    height: 13rem;
    border-bottom: 2rem solid #666F;
}

.main > footer .logo-frame {
    float: right;
    text-align: right;
}

.main > footer .icon-bar {
    position: relative;
    bottom: -.8rem;
}

.main > footer .logo-name {
    bottom: -1.2rem;
    right: -.4rem;
}

.main > footer .icon-message:before {
    content: "\00a0";
}

.main > footer .logo {
    bottom: -.4rem;
}


.logo-name .david {
    position: relative;
    top: 0;
    line-height: .9em;
    z-index: 20;
}

.logo-name .gayerie {
    position: relative;
    top: -.5rem;
    line-height: 1em;
    z-index: 10;
}

.logo-name .dotdev {
    position: relative;
    top: -.8rem;
    line-height: .8em;
    z-index: 5;
}

.logo span {
    display: inline-block;
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: #EEE;
}

.icon {
    height: 2.8rem;
}

.icon:hover {
    filter: sepia(50%) hue-rotate(320deg);
}

.page1 {
    border-top: 2em solid #666;
    height: 24rem;
}

.page2 {
    border-top: 3px solid #EEE;
    border-bottom: 3px solid #EEE;
}

.page3 {
    border-top: 3px solid #EEE;
    border-bottom: 3px solid #EEE;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.page4 {
    border-top: 3px solid #EEE;
    border-bottom: 3px solid #EEE;
}

.message-titre {
    position: relative;
    margin-left: 1rem;
    top: 90%;
    transform: translateY(-2em);
}

.text-block {
    padding: 1rem;
    padding-top: 2rem;
    background-color: #404040AA;
    font-family: "Syne", sans-serif;
    font-size: 1.4rem;
    text-align: justify;
    line-height: 1.3;
}

.text-block img.puce {
    max-width: 33vw;
    float: left;
}

.text-block p:first-of-type {
    margin-top: 0;
}

:not(.avis) + p.avis {
    padding-top: 2.4rem;
}

p.avis {
    font-style: italic;
    font-size: 1.3rem;
}

p.avis:before {
    content: "\201C";
}

p.avis:after {
    content: "\201D";
}

section.gallery {
    clear: both;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
}

.gallery-item {
    margin: 1rem;
}

.gallery-item:hover .gallery-item-title {
    filter: invert(.8);
}

.gallery-item:hover .gallery-item-content {
    filter: brightness(1.50);
}

.gallery-item-content {
    margin: 0;
    padding: 0;
    padding-bottom: 0.2rem;
}

.gallery-item-content img {
    display: block;
    margin: auto;
    width: 38vw;
}

.gallery-item-title {
    background-color: #333f;
    padding: .5rem;
    margin: 0;
    text-align: center;
}

@media (min-width: 45rem) {
    .main header .logo {
        border-top: 3px solid #EEE;
        border-left: 3px solid #EEE;
        left: -.8rem;
    }

    .main footer .logo {
        border-right: 3px solid #EEE;
        border-bottom: 3px solid #EEE;
        right: -.8rem;
    }

    .terminal {
        font-size: 3rem;
    }

    .text-block {
        padding: 4rem;
    }

    .text-background {
        width: 100%;
        margin-left: 0;
    }

    .main {
        width: 90%;
    }

    .text-block img.puce {
        max-width: 12rem;
    }

    .gallery-item-content img {
        width: 8em;
    }

}

